mkdir /data/misc/sensors 0664 system system

service msensord /system/bin/msensord
    user system
    group system
    oneshot

service akmd8963 /system/bin/akmd8963
    disabled
    user system
    group system


on post-fs
    chmod 0660 /dev/spm
    chown system system /dev/spm

on post-fs-data
# Permissions for audio (rt5509)
    chown system audio /sys/class/rt5509_cal/trigger
    chown system audio /sys/class/rt5509_cal/status
    chown system audio /sys/class/rt5509_cal/rt5509.0/alphaspk
    chown system audio /sys/class/rt5509_cal/rt5509.0/calib_data
    chown system audio /sys/class/rt5509_cal/rt5509.0/calibrated
    chown system audio /sys/class/rt5509_cal/rt5509.0/chip_rev
    chown system audio /sys/class/rt5509_cal/rt5509.0/dcr_offset
    chown system audio /sys/class/rt5509_cal/rt5509.0/gsense_otp
    chown system audio /sys/class/rt5509_cal/rt5509.0/n10db
    chown system audio /sys/class/rt5509_cal/rt5509.0/n15db
    chown system audio /sys/class/rt5509_cal/rt5509.0/n20db
    chown system audio /sys/class/rt5509_cal/rt5509.0/rapp
    chown system audio /sys/class/rt5509_cal/rt5509.0/rspk
    chown system audio /sys/class/rt5509_cal/rt5509.0/rspkmax
    chown system audio /sys/class/rt5509_cal/rt5509.0/rspkmin
    chown system audio /sys/class/rt5509_cal/rt5509.0/t
    chown system audio /sys/class/rt5509_cal/rt5509.0/tmax
    chown system audio /sys/class/rt5509_cal/rt5509.0/tmax_count
    chown system audio /sys/class/rt5509_cal/rt5509.0/xpeak
    chown system audio /sys/class/rt5509_cal/rt5509.0/xmax
    chown system audio /sys/class/rt5509_cal/rt5509.0/xmax_count
    mkdir /efs/richtek/ 0770 system audio
    chown system audio /efs/richtek/rt5509_calib
    chmod 0660 /efs/richtek/rt5509_calib

on boot

service spm_script /system/vendor/bin/spm_loader
    user system
    group system
    oneshot

on property:sys.usb.config=gs1gs3
      write /sys/class/android_usb/android0/enable 0
      write /sys/class/android_usb/android0/idVendor ${sys.usb.vid}
      write /sys/class/android_usb/android0/idProduct 2029
      write /sys/class/android_usb/android0/f_acm/port_index 2,4
      write /sys/devices/platform/mt_usb/saving 1
      write /sys/class/android_usb/android0/functions mass_storage,adb,acm
      write /sys/class/android_usb/android0/enable 1
      start adbd
      setprop sys.usb.state ${sys.usb.config}
      setprop sys.usb.acm_idx 2,4

