# MTK project .rc configure

import init.mt6757.usb.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

on post-fs-data

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/DW9807AF
    chown system camera /dev/DW9807AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

#Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system /dev/ttyGS1

    chmod 0660 /dev/spm
    chown system system /dev/spm

# Permissions for audio (rt5509)
    chown system audio /sys/class/rt5509_cal/trigger
    chown system audio /sys/class/rt5509_cal/status
    chown system audio /sys/class/rt5509_cal/rt5509.0/alphaspk
    chown system audio /sys/class/rt5509_cal/rt5509.0/calib_data
    chown system audio /sys/class/rt5509_cal/rt5509.0/calibrated
    chown system audio /sys/class/rt5509_cal/rt5509.0/chip_rev
    chown system audio /sys/class/rt5509_cal/rt5509.0/dcr_offset
    chown system audio /sys/class/rt5509_cal/rt5509.0/gsense_otp
    chown system audio /sys/class/rt5509_cal/rt5509.0/n10db
    chown system audio /sys/class/rt5509_cal/rt5509.0/n15db
    chown system audio /sys/class/rt5509_cal/rt5509.0/n20db
    chown system audio /sys/class/rt5509_cal/rt5509.0/rapp
    chown system audio /sys/class/rt5509_cal/rt5509.0/rspk
    chown system audio /sys/class/rt5509_cal/rt5509.0/rspkmax
    chown system audio /sys/class/rt5509_cal/rt5509.0/rspkmin
    chown system audio /sys/class/rt5509_cal/rt5509.0/t
    chown system audio /sys/class/rt5509_cal/rt5509.0/tmax
    chown system audio /sys/class/rt5509_cal/rt5509.0/tmax_count
    chown system audio /sys/class/rt5509_cal/rt5509.0/xpeak
    chown system audio /sys/class/rt5509_cal/rt5509.0/xmax
    chown system audio /sys/class/rt5509_cal/rt5509.0/xmax_count
    mkdir /efs/richtek/ 0770 system audio
    chown system audio /efs/richtek/rt5509_calib
    chmod 0660 /efs/richtek/rt5509_calib

    # Permissions for input_booster
    chown system radio /sys/class/input_booster/level
    chown system radio /sys/class/input_booster/head
    chown system radio /sys/class/input_booster/tail
    chown system radio /sys/class/input_booster/touchkey/level
    chown system radio /sys/class/input_booster/touchkey/freq
    chown system radio /sys/class/input_booster/touchkey/time
    chmod 0664 /sys/class/input_booster/level
    chmod 0664 /sys/class/input_booster/head
    chmod 0664 /sys/class/input_booster/tail
    chmod 0664 /sys/class/input_booster/touchkey/level
    chmod 0664 /sys/class/input_booster/touchkey/freq
    chmod 0664 /sys/class/input_booster/touchkey/time

#SystemAnalysis
    chown system system /cache/backup
    chmod 0711 /cache/backup
    chown system system /cache/backup_stage
    chmod 0711 /cache/backup_stage

on boot
# SSWAP
    write /proc/sys/vm/swappiness 100

# FINGERPRINT FRAMEWORK : starts fingerprintd
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system

on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

service atci_service /system/bin/atci_service
	socket atci-service stream 660 radio system
	socket atci-serv-fw stream 660 radio system
	user root
        disabled
	group radio system
service atcid-daemon-u /system/bin/atcid
	user system
	group radio system media
	disabled
	oneshot

service atcid-daemon-e /system/bin/atcid
	user root
	group radio system
	disabled
	oneshot

on early_property:ro.build.type=eng
start atci_service
start atcid-daemon-e
service audio-daemon /system/bin/audiocmdservice_atci
    class main
    socket atci-audio stream 660 media system
    user media
    group nvram media system sdcard_rw
    disabled
    oneshot


service spm_script /system/vendor/bin/spm_loader
    user system
    group system
    class core
    oneshot

# SSWAP
service swapon /sbin/sswap -s -f 2048
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot

# faced
service faced /system/bin/faced
    class late_start
    user system
    group system

#WSM service startup
service wsmd /system/bin/wsmd
    class core
    user system
    group system
    disabled
on property:ro.wsmd.enable=true
    mkdir /dev/socket/wsm_socket 
    chmod 0711 /dev/socket/wsm_socket
    chown system system /dev/socket/wsm_socket
    start wsmd

# SecEDS
service TvoutService_C /system/bin/bintvoutservice
     class main
     user system
     group graphics
on property:ro.SecEDS.enable=false
    stop TvoutService_C

